.formulary {
    text-align: center;
    background: rgba(255, 255, 255, 0.603);
    max-width: 120vh;
    min-width: 30vh;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    vertical-align: middle;
}


.formulary h2{
    color: var(--primaryColor);
    margin: 20px;

    text-align: center;
}

.formulary select{
    text-align: center;
    margin: 1em;
    background: var(--primaryColor);
    border: none;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    border-bottom: 2px solid var(--primaryColor);
    width: 70%;
    color: var(--font);
}


.formulary form strong{
    color: var(--primaryColor);
}

.formulary input::placeholder{
    color: var(--placeholder);
}

.formulary input[type="text"]{
    text-align: center;
    margin: 1em;
    background: var(--primaryColor);
    border: none;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    border-bottom: 2px solid var(--primaryColor);
    width: 70%;
    color: var(--font);
}

.formulary input[type="time"]{
    text-align: center;
    margin: 1em;
    background: var(--primaryColor);
    border: none;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    border-bottom: 2px solid var(--primaryColor);
    width: 70%;
    color: var(--font);
}

.formulary input[type="number"]{
    text-align: center;
    margin: 1em;
    background: var(--primaryColor);
    border: none;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    border-bottom: 2px solid var(--primaryColor);
    width: 70%;
    color: var(--font);
}

.formulary form input[type="email"]{
    text-align: center;
    margin: 1em;
    background: var(--primaryColor);
    border: none;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    border-bottom: 2px solid var(--primaryColor);
    width: 70%;
    color: var(--font);
}

.formulary input[type="password"]{
    text-align: center;
    margin: 1em;
    background: var(--primaryColor);
    border: none;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    border-bottom: 2px solid var(--primaryColor);
    width: 70%;
    color: var(--font);
}

.formulary input[type="month"]{
    
    margin: 1em;
    background: var(--primaryColor);
    border: none;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    border-bottom: 2px solid var(--primaryColor);
    width: 70%;
    color: var(--font);
}

.formulary input[type="date"]{
    
    margin: 1em;
    background: var(--primaryColor);
    border: none;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    border-bottom: 2px solid var(--primaryColor);
    width: 70%;
    color: var(--font);
}

.formulary button[type="submit"]{
    margin: 20px;
    background: var(--font);
    border: 2px solid var(--primaryColor);
    color: var(--primaryColor);
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.formulary button[type="submit"]:hover{
    color: var(--font);
    background: var(--primaryColor);
    border: 2px solid var(--font);
}

.formulary button[type="reset"]{
    margin: 20px;
    background: var(--font);
    border: 2px solid var(--primaryColor);
    color: var(--primaryColor);
    border-radius: 20px;
    padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
}

.formulary button[type="reset"]:hover{
    color: var(--font);
    background: var(--primaryColor);
    border: 2px solid var(--font);
}